<header>
  <nav>
    <div class="navbar">
      <a href="/">
          <img class="logo-inc" src="/images/shop.jpg" alt="" />
      </a>
      <ul class="navbar-menu">
        <li><a href="/" class="navbar-item" >Catalogo</a></li>
        <li><a href="/products" class="navbar-item">Lista de Productos</a></li>
        <li><a href="/products/create" class="navbar-item">Agregar Producto</a></li>
        <li><a href="/cart" class="navbar-item">Carrito</a></li>
      </ul>
      <a href="/cart" class="cartwidget">
          <img class="logoCart" src="" alt="" />
      </a>
    </div>
    
  </nav>
</header>